<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareerXplorer</title>
    <link rel="stylesheet" href="/HomeStyle.css">
</head>
<body>
    <div class="main">
        <div class="page1">
            <div class="nav">
                <div class="logo">
                    <h3 class="c">C</h3>
                    <h3 class="x">X</h3>
                </div>
                <div class="options">
                    <button>Careers</button>
                    <button>Assessment</button>
                    <button>Login</button>
                    <button>Register</button>
                </div>
            </div>
            <div class="content"></div>
        </div>
    </div>
</body>
</html>