<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareerXplorer-Login</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color:#dad4d4;
        }
        .container {
            background-color: #fff;
            padding: 2rem;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            border-radius: 10px;
            text-align: center;
            height: 20vmax;
            width: 20vmax;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        .logo-main {
            background-color: #dad4d4;
            height: 30%;
            width:100%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-content: center;
            font-family: Comfortaa;
            font-size: 2.3vmax;
            font-weight: 600;
            padding-bottom: 4%;
        }
        .C {
            color: #0f52ba;
        }
        .X {
            color: #91c11b;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input[type="text"], input[type="password"] {
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 10px;
        }
        button {
            padding: 10px;
            color: #fff;
            background-color: #0f52ba;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            border-radius: 10px;
        }
        button:hover {
            background-color: #0d47a1;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="logo-main">
            <p class="C">Career</p>
            <p class="X">Xplorer</p>
        </div>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>