/* 
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body
{
    width:100%;
    height:100%;
}
.main
{
    height: 100%;
    width: 100%;
}
.page1
{
    height: 100vh;
    width: 100%;
}
.page1 .nav
{
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
}
.page1 .logo
{
    height: 4vmax;
    width: 4.2vmax;
    background-color: #e6dbda;
    border-radius: 50%;
    font-family: Comfortaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}
.page1 .logo p
{
    font-size: 2vmax;
    font-weight: 700;
}
.C
{
    color: #0f52ba;
}
.X
{
    color: #91c11b;
}
.page1 .nav .options
{
    height: 100%;
    width:50%;
}
.page1 .content
{
    height: 87vh;
    width: 100%;
} 
*/